# Python virtual environment
.venv/
venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS specific files
.DS_Store
Thumbs.db

# Qdrant Storage (Database data)
qdrant_storage/

# Environment variables (Secrets)
.env